<!DOCTYPE html>
<html>
<head>
<title>Course Work</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<h1>Course Work</h1>
<h3>Виконав:</h3>
<h3>студент групи ІК-41</h3>
<h3>Корчовський Р.Р.</h3>
<img src="https://vscode.ru/wp-content/uploads/2017/11/hello-world.jpg" width="783" height="359" alt="lorem">
</body>
</html>
